body,html{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    overflow: hidden;
}

body{
    background:linear-gradient(rgb(7, 59, 164),rgb(93, 169, 232));
}

/*The intrduction page*/
.intro{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;   
    position: absolute; 
    top:0px;
    background:linear-gradient(rgb(93, 22, 93),rgb(27, 1, 27));
    color:white; 
}

/*Welcome message on the introduction page*/
.intro h1{
   text-align: center;
   white-space: nowrap;
   border-right:solid;
   border-width:5px;
   overflow: hidden;
}


/*The navigation bar at the top of the page*/
.nav_bar{
    border:solid;
    height:70px;
    background-color: black;
    position: sticky;
    top:0px;
    display:flex;
}

.icons{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width:90%
}

.mode_switcher{
    width:10%;
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    border:solid;
}



/*Images in the nav bar*/
.nav_bar img{
    height:40px; 
}
/*Fix this layer*/


/*The Titles for the sections*/
.title{
    display: flex;
    justify-content: center;
    color:white; 
    font-size: 50px;  
}

.title h1{
    border-bottom: solid;
}


/*The bio section*/
.bio{
    width:95%;
    border:solid;
    margin-left:auto;
    margin-right: auto;
    color:white;
    border-radius: 20px;
    display:flex;
}
/*The text part of my bio*/
.text{
    width:70%;
    text-align: center;
    padding: 20px;
}
#name{
    font-size: 50px;
    color:rgb(255, 255, 255);
}

/*The div that holds my pic*/
.bio_image{
    width:30%;
    display:flex;
    border-left: solid;
    border-left-color: red ;
}


























/*For smartphones */
@media only screen and (min-width:300px) {
    .intro h1{
        font-size:40px;
        width:240px; 
        animation: grow1 3.5s steps(14, end),
        clicker 0.75s linear infinite 
    }   
}

/*For tablets */
@media only screen and (min-width:480px) {
    .intro h1{ 
        font-size:50px;
        width:300px;
        animation: grow2 3.5s steps(14, end),
        clicker 0.75s linear infinite
    } 
}


/*For laptops 1000 -1600 px*/
@media only screen and (min-width: 900px) {

    .intro h1{
        font-size:70px;
        width:430px;
        animation: grow3 3.5s steps(14, end),
        clicker 0.75s linear infinite  
    } 
    
}




/*For the cursor effect*/
@keyframes clicker {
    from,to{
        border-right-color:rgb(88, 88, 210) ;
    }
    50%{
        border-right-color:transparent;
    }  
}

/*Type Writter Effect for Laptops*/
@keyframes grow3 {
    from{width:0%}
    to{width:430px}
    
}

/*Type Writter Effect for tablets*/
@keyframes grow2 {
    from{width:0%}
    to{width:300px}
    
}

/*Type Writter Effect for phones*/
@keyframes grow1 {
    from{width:0%}
    to{width:240px}
    
}


@keyframes fade{
    from{transform: translateY(0%);}

    to{transform: translateY(-100%);}
}


@keyframes slide {

    from{transform: translateX(0%);}
    to{transform: translateX(100%);}
    
}









